// Navigation Styles here
.nav-top-sec{
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: yellow; 
    .pg-title{
      width: 20%;
      border: 1px solid blue;
      h1{
        font-size: 3rem;
      }
    }
    .nav-bar{
      width: 45%;
      border: 1px solid green;
      font-size: 1.5rem;
      nav{
        display: flex;
        justify-content: space-evenly;
      }
      a{
        text-decoration: none;
      }
    }
  }